<h1>Shelters </h1>
<div class="homepageDescription">
    <div id="filterBar"><span id="filter">Any filter stuff here</span> </div>
    <br />
    <br />
    <div id="shelterTable">
        <table id="shelters">
            <tr>
                <td class="shelterName">Shelter Name</td>
                <td class="shelterAddr">Shelter Address</td>
                <td class="shelterNav"><a href="/pets">Go to Shelter Pets --></a></td> <!-- this will have the ability to send with a shelter Primary key for CRUD operations -->
            </tr>
            <tr>
                <td class="shelterName">Shelter Name</td>
                <td class="shelterAddr">Shelter Address</td>
                <td class="shelterNav"><a href="/pets">Go to Shelter Pets --></a></td>
            </tr>
            <tr>
                <td class="shelterName">Shelter Name</td>
                <td class="shelterAddr">Shelter Address</td>
                <td class="shelterNav"><a href="/pets">Go to Shelter Pets --></a></td>
            </tr>
            <tr>
                <td class="shelterName">Shelter Name</td>
                <td class="shelterAddr">Shelter Address</td>
                <td class="shelterNav"><a href="/pets">Go to Shelter Pets --></a></td>
            </tr>
        </table>

        <br />
        <br />

        <h1> Species</h1>
        <p>A list of all the kinds of pets we accept at the shelters!</p>
        <div id="speciesTable">
            <ul>
                <li>Species A</li>
                <li>Species B</li>
                <li>Species C</li>
            </ul>

        <h1> Adoptions</h1>
        <div id="adoptionsTable">
            <table id="adoptions">
                <tr>
                    <td class="adoptedPet">Pet Name</td>
                    <td class="adoptedByCustomer">Customer Name</td>
                    <td class="adoptedDate">Adoption Date</td>
                </tr>
                <tr>
                    <td class="adoptedPet">Pet Name</td>
                    <td class="adoptedByCustomer">Customer Name</td>
                    <td class="adoptedDate">Adoption Date</td>
                </tr>
                <tr>
                    <td class="adoptedPet">Pet Name</td>
                    <td class="adoptedByCustomer">Customer Name</td>
                    <td class="adoptedDate">Adoption Date</td>
                </tr>
                <tr>
                    <td class="adoptedPet">Pet Name</td>
                    <td class="adoptedByCustomer">Customer Name</td>
                    <td class="adoptedDate">Adoption Date</td>
                </tr>
            </table>

    </div>
</div>
