/**
 * CITATION:
 * The CSS in this file is adapted from the Node.js example on Canvas.
 * Link: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
 */

 h1, h2 {
    margin-left: 20px;
 }

table {
    border-collapse: collapse;
    margin-left: 20px;
 }

th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

th {
    background-color: aquamarine;
}

tr:nth-child(even) {
    background-color: #B0E0E6;
}

.cuForm { 
    margin-left: 32px;
}

input, select { 
    margin-bottom: 4px;
    margin-right: 12px;
}

nav {
    background-color: lightblue;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

nav a{
    font-family: arial, sans-serif;
    text-decoration: none;
    color: black;
}

nav a::before{
    content: "> ";
}

nav a:visited {
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

a {
    margin-left: 16px;
}

.m0 {
    margin: 0;
}

.py3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

#content{
    min-height: 600px;
    margin-bottom: 50px;
}

footer{
    display: flex;
    justify-content: space-around;
}

/*-- -----------------------------------------------------
-- home.hbs styling
-- -----------------------------------------------------*/

#home-content{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

#home-content h1{
    margin-left: 0px;
}

#welcome-message, #site-message{
    width: 50%;
}

.citation{
    font-size: 11px;
}

#site-map-links{
    list-style-type: '-   ';
    display: inline;
    margin-left: 15px;
}

#site-map-links li{
    margin-left: 15px;
}

#site-map-links li a{
    text-decoration: none;
}
#site-map-links li a:hover{
    text-decoration: underline;
}
/*-- -----------------------------------------------------
-- CRUD forms styling
-- -----------------------------------------------------*/

.CRUD_forms{
        margin: 10px;
        display: flex;
}

.CRUD_forms div{
        width: 50%;
}
