/**
 * CITATION:
 * The CSS in this file is adapted from the Node.js example on Canvas.
 * Link: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
 */

 h1, h2 {
    margin-left: 20px;
 }

table {
    border-collapse: collapse;
    margin-left: 20px;
 }

th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

th {
    background-color: aquamarine;
}

tr:nth-child(even) {
    background-color: #B0E0E6;
}

.cuForm { 
    margin-left: 32px;
}

input, select { 
    margin-bottom: 4px;
    margin-right: 12px;
}

nav {
    background-color: lightblue;
    padding: 16px;
}

a {
    margin-left: 16px;
}

.homepageDescription {
    margin-left: 32px;
}