<h1>Home page</h1>
<div class="homepageDescription">
    <p>Welcome!</p>
    <p>According to ASPCA, American Society for the Prevention of Cruelty to Animals, American shelters euthanize almost 1 million pets annually.
        This number has been declining over time but is still astronomically high (American Society for the Prevention of Cruelty to Animals).
        Forever Home's network of 30 shelters handle around 1800 pet adoptions per year. We want to help increase the number of pets finding forever homes by
        creating an application that shelters nationwide can use to better publicize available adoptable pets.</p>
    <p>Our database driven application displays/manages the following: shelter locations, pets and their vaccinations, vaccines, customers, and adoptions of pets
        by customers. Pets cannot be returned, and pets must be adopted individually, aka only one pet per adoption, and a customer may have multiple adoptions.</p>
    <p>Citation: American Society for the Prevention of Cruelty to Animals. “Pet Statistics.” ASPCA, American Society for the Prevention of Cruelty to Animals, 2022,
        www.aspca.org/helping-people-pets/shelter-intake-and-surrender/pet-statistics. Accessed 7 Apr. 2025.</p>
    <br />
    <div>Don't know where to start? Head on over to pets page to see who is looking for a forever home! -- <a href="/pets">Pets Page</a> </div>
</div>