<h1>Index</h1>
<div>
    <ul>
        <li class="py3"><a class="m0" href="/pets">Manage Pets</a></li>
        <li class="py3"><a class="m0" href="/adoptions">Manage Adoptions</a></li>
        <li class="py3"><a class="m0" href="/vaccinations">Manage Vaccinations</a></li>
        <li class="py3"><a class="m0" href="/customers">Manage Customers</a></li>
        <li class="py3"><a class="m0" href="/vaccines">View Vaccines</a></li>
        <li class="py3"><a class="m0" href="/shelters">View Shelters</a></li>
        <li class="py3"><a class="m0" href="/species">View Species</a></li>
    </ul>
</div>