<div id="home-content">
    <div id="welcome-message">
        <h1>Welcome</h1>
        <p>According to ASPCA, American Society for the Prevention of Cruelty to Animals, American shelters
            euthanize almost 1 million pets annually. This number has been declining over time but is still
            astronomically high (American Society for the Prevention of Cruelty to Animals). Forever Home's
            network of 30 shelters handle around 1800 pet adoptions per year. We want to help increase the
            number of pets finding forever homes by creating an application that shelters nationwide can use
            to better publicize available adoptable pets. </p>
        <p>Our team at Forever Home aims to help unit pets with their forever homes. Consider adopting a pet today!</p>
        <p class="citation">American Society for the Prevention of Cruelty to Animals. “Pet Statistics.” ASPCA,
            American Society for the Prevention of Cruelty to Animals, 2022, www.aspca.org/helping-people-pets/shelter-intake-and-surrender/pet-statistics.
            Accessed 7 Apr. 2025.</p>
    </div>

    <div id="site-map">
        <h1>Index - Site Map</h1>
        <div>
            <ul id="site-map-links">
                <li class="py3"><a class="m0" href="/pets">Manage Pets</a></li>
                <li class="py3"><a class="m0" href="/adoptions">Manage Adoptions</a></li>
                <li class="py3"><a class="m0" href="/vaccinations">Manage Vaccinations</a></li>
                <li class="py3"><a class="m0" href="/customers">Manage Customers</a></li>
                <li class="py3"><a class="m0" href="/vaccines">Manage Vaccines</a></li>
                <li class="py3"><a class="m0" href="/shelter">Manage Shelter</a></li>
                <li class="py3"><a class="m0" href="/species">Manage Species</a></li>
            </ul>
        </div>
    </div>
</div>