{{!
CITATION: Everything in this file is copied from the example on Canvas
unless otherwise noted.
Link: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - Forever Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/pets">Pets</a>
        <a href="/Adoptions">Adoptions</a>
        <a href="/Vaccinations">Vaccinations</a>
        <a href="/customers">Customers</a>
        <a href="/Vaccines">Vaccines</a>
        <a href="/Locations">Locations</a>
        <a href="/Species">Species</a>
    </nav>

    {{{body}}}

</body>
</html>